header.p-5.text-center.bg-body-tertiary.header
    div.d-flex.justify-content-center.py-3 
        h1#titulo EasyPhysics
    p.col-lg-8.mx-auto.lead Aplicação Web feita para a disciplina Certificadora 1 #[br] Exibe questões de física - limitações correspondentes à primeira entrega do projeto